body{
    background-color: rgb(255, 176, 65);
}

ul{
    list-style-type: none;
    background-color: blue;
    width: 400px;
    padding: 15px;
}

.nav-items{
    display: inline;
    padding: 15px;
}

h1{
    background-image: url(./Imagenes/perrito.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 450px;
    margin: 40px;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    text-shadow: 5px 5px whitesmoke;
    padding: 80px 20px;
    }

    .tarjeta{
        background-color: beige;
        max-width: 400px;
        margin: 70px auto;
        border: 2px solid blue;
        box-shadow: 5px 5px 10px blue,
        -5px -5px 10px rgb(202, 51, 5);
    }

    *{box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family:'Exo', sans-serif
    }
    .img-tar{
        width: 100%;
    }

    .resaltado{
        background-color: forestgreen;
    }
    
