body{
    background-color: cornflowerblue;
}

ul{
    list-style-type: none;
    background-color: blue;
    width: 350px;
    padding: 10px;
}

.nav-items{
    display: inline;
    padding: 10px;
}

h1{
    background-image: url(./Imagenes/perrito.jpg);
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    padding: 80px 20px;
    height: 200px;
    margin: 40px;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    text-shadow: 5px 5px white;}

    .tarjeta{
        max-width: 500px;
        margin: 70px auto;
        border: 2px solid blue;
        box-shadow: 5px 5px 10px blue,
    -5px -5px 10px violet;
    }

    *{box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family:'Exo', sans-serif
    }
    .img-tar{
        width: 100%;
    }

    .resaltado{
        background-color: forestgreen;
    }
    
